BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
SpacesBeforeTrailingComments: 2
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
